#admin_members
  %header
    %h1= t("admin.members.titles.edit")

  %section#main
    = render :partial => 'form'
    - if admin?
      - if @member.membership_active?
        =link_to t("admin.memberships.actions.end_membership"), terminate_admin_member_membership_path(@member, @member.active_membership), { :class => 'button negative left' }
      - else
        =link_to t("admin.memberships.actions.renew_membership"), new_admin_member_membership_path(@member, @member.active_membership), { :class => 'button negative left' }
