#admin_members
  %header
    %h1.for_form= t("admin.members.titles.edit")

  %section#main
    = render :partial => 'form'
    - if admin?
      =link_to t("admin.members.actions.delete_member"), [:admin, @member], { :class => 'button negative left' }, :method => 'delete', :confirm => 'Are you sure you want to delete the user?'
      =link_to t("admin.members.actions.edit_memberships_for_member"), admin_member_memberships_path(@member), { :class => 'button positive right' }
