%li{ html_attrs_for_motion(motion) }
  =link_to motion.title, motion_events_url(motion)
  %p.author
    by
    %strong #{motion_creator_display_name(motion)}
  %p.description= truncate(motion.description, :length => 200)
