- Motion::MOTION_STATES.each do |state|
  - if motions_grouped_by_state[state]
    %section
      %div{ :id => "motion_state_#{state}_section" }
        %h3
          =Motion::HUMAN_READABLE_MOTION_STATES[state]
        = render :partial => 'motion', :collection => motions_grouped_by_state[state][0..4]
        - if motions_grouped_by_state[state].size > 5
          = render :partial => 'link_to_more', :locals => { :state => state, :last_id => motions_grouped_by_state[state][4].id }
