-Motion::MOTION_STATES.each do |state|
  -if motions_grouped_by_state[state]
    %h3
      =Motion::HUMAN_READABLE_MOTION_STATES[state]
    %ul
      -motions_grouped_by_state[state].each_with_index do |motion, i|
        %li{ :class => cycle('even', 'odd') }
          =link_to "More", motion_path(motion), :class => "plus"
          =link_to %Q{"#{motion.title}"}, motion_path(motion)
          %span.meta
            by #{motion_creator_display_name(motion)}
          %p
            =truncate(motion.description)

=will_paginate @motions
