%section
  %h2=t("motions.#{name}.heading")
  - if motion_group.empty?
    .empty=t("motions.#{name}.empty")
  - else
    %ul
      - motion_group.each do |motion|
        = render :partial => "motions/list_item", :locals => {:motion => motion}
