%section
  %h2=t("motions.#{name}.heading")
  - if motion_group.empty?
    .empty=t("motions.#{name}.empty")
  - else
    %ul{ :class => "motions" }
      = render :partial => motion_group
    - if motion_group.size < motion_group.count
      .show_more
        = link_to 'More', show_more_motions_path(:id => motion_group.last.id), :class => 'button more'
