=render 'shared/flashes'

.current-motions
  - if active_member?
    =link_to "New Motion", new_motion_path, {:class => "quick-tool"}

  %h1
    Current Motions

  -if @motions.empty?
    There are no motions availabe to review

  -else
    %ul
      -@motions.each_with_index do |motion, i|
        %li{ :class => cycle('even', 'odd') }
          =link_to "More", motion_events_url(motion), :class => "plus"
          =link_to %Q{"#{motion.title}"}, motion_events_url(motion)
          %span.meta
            by #{motion_creator_display_name(motion)}
          %p
            =truncate(motion.description)

=link_to 'See closed motions', closed_motions_path

/ TODO: show/hide motions you've already acted on
