%h3 Open Motions
= render :partial => 'motion_list', :locals => { :motions => @motions }
= link_to 'See closed motions', closed_motions_path

/ TODO: link to show closed motions
/ TODO: sort motions in the state machine order groupings
/ TODO: show/hide motions you've already acted on