%p#notice
  =notice

.current-motions
  - if active_member?
    =link_to "New Motion", new_motion_path, {:class => "quick-tool"}

  %h1
    Current Motions

  - if active_member?
    %section
      %h2 Waiting For Seconds
      - render_motion_list(@motions.waitingsecond) do
        .empty There are no motions available to review
    %section
      %h2 Discussing
      - render_motion_list(@motions.discussing) do
        .empty There are no motions available to review

  %section
    %h2 Voting
    - render_motion_list(@motions.voting) do
      .empty There are no motions available to review

/ TODO: show/hide motions you've already acted on
