%p#notice
  =notice

.current-motions
  - if active_member?
    =link_to "New Motion", new_motion_path, {:class => "quick-tool"}

  %h1
    Current Motions

  %section
    %h2 Waiting For Second
    - render_motion_list(@motions.waitingsecond) do
      %p There are no motions availabe to review

  %section
    %h2 Discussing
    - render_motion_list(@motions.discussing) do
      %p There are no motions availabe to review

  %section
    %h2 Voting
    - render_motion_list(@motions.voting) do
      %p There are no motions availabe to review

=link_to 'See closed motions', closed_motions_path

/ TODO: show/hide motions you've already acted on
