.current-motions
  - if active_member?
    = link_to "New Motion", new_motion_path, {:class => "quick-tool"}
  %h1= t("motions.titles.index.#{@motion_groups_name}")
  - @motion_groups.each do |name, motions|
    = render_motion_group(name, motions)

/ TODO: show/hide motions you've already acted on
