%p#notice
  =notice

.current-motions
  =link_to "New Motion", new_motion_path, {:class => "quick-tool"}

  %h1
    Current Motions

  -if @motions.empty?
    There are no motions availabe to review

  -else
    =render :partial => 'motion_list', :locals => { :motions => @motions, :motions_grouped_by_state => @motions.group_by(&:state_name) }

=link_to 'See closed motions', closed_motions_path

/ TODO: show/hide motions you've already acted on
