- if active_member?
  = link_to "New Motion", new_motion_path, { :id => 'new_motion_button', :class => 'button positive' }
%h1.motions= t("motions.titles.index.#{@group[:name]}")

= render :partial => 'motions/group', :object => @group

/ TODO: show/hide motions you've already acted on
