<% @motions.each do |motion| %>
  <%= render(:partial => 'motions/list_item', :locals => { :motion => motion }) %>
<% end %>
<% if link = link_to_more_motions(@motions) %>
    <li><%= link %></li>
<% end %>
