/* @group Variables */
/* @end */
/* @group Global */
body {
  font-size: 12px; }

.centered {
  text-align: center; }

/* @end */
/* @group Buttons */
.button, .button:visited {
  border: 0;
  background: #222222 url("/images/btn_overlay.png") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }

.button:hover {
  background-color: #111;
  color: #fff; }

.button:active {
  top: 1px; }

.small_button, .small.button:visited {
  font-size: 11px;
  padding: 5px; }

.button, .button:visited,
.medium_button, .medium_button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large_button, .large_button:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.green_button, .green_button:visited {
  background-color: #91bd09; }

.green_button:hover {
  background-color: #749a02; }

/* @end */
/* @group Forms */
.form_row {
  margin-bottom: 10px;
  clear: both; }

.form_row.submit {
  margin-top: 40px; }

.form_row label {
  float: left;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
  width: 120px; }

.form_row input[type=text],
.form_row input[type=password],
.form_row textarea {
  padding: 5px;
  width: 200px;
  border: 1px solid #cccccc; }

.form_row textarea {
  height: 5em;
  width: 320px; }

#user_signin_form {
  width: 400px;
  margin: 20px auto; }

#new_motion_form {
  width: 400px;
  margin: 20px auto; }

/* @end */
/* @group Motions */
.motion {
  border-left: 3px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  padding: 0px 3px 0px 3px; }

.motion_title {
  font-weight: bold;
  font-size: 105%; }

.motion_date, .motion_member {
  width: 49%; }

.motion_description, .motion_rationale {
  margin-top: 2px; }

.motion_state_passed {
  background-color: #90EE90; }

.motion_state_failed {
  background-color: #FAAFBE; }

div.more_motions {
  width: 25px; }

div.more_motions:hover {
  text-decoration: underline;
  cursor: pointer; }

/* @end */
/* @group Homepage */
#content .current-motions a.quick-tool {
  display: block;
  float: right;
  padding: .25em .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  color: #FFFEFE !important;
  font-size: 1.8em !important;
  border: 1px solid #070;
  background: #292;
  background: -moz-linear-gradient(top, #44bb44, #229922);
  background: -webkit-gradient(linear, left top, left bottom, from(#44bb44), to(#229922)); }

#content .current-motions a.quick-tool:hover {
  background: #4b4;
  margin: 1px -1px 0 0;
  background: -moz-linear-gradient(top, #44bb44, #55cc55);
  background: -webkit-gradient(linear, left top, left bottom, from(#44bb44), to(#55cc55)); }

#content .current-motions h1 {
  padding-top: 0;
  font-size: 3em;
  color: #407a27;
  text-shadow: 0 1px 1px #ccc;
  font-style: italic; }

.current-motions ul {
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  margin: .5em 0 0; }

.current-motions li {
  padding: 1em;
  border-bottom: 1px solid #f0f0f0; }

.current-motions li.odd {
  background: #f0fff0 !important; }

.current-motions li a {
  font-size: 1.75em;
  text-decoration: none; }

.current-motions li span.meta {
  font-size: 1.25em !important;
  color: #80a080; }

.current-motions li a.plus {
  float: right;
  height: 18px;
  width: 20px;
  display: block;
  background-image: url("/images/plus.png");
  background-repeat: no-repeat;
  color: #000;
  font-size: 1px; }

.current-motions li p {
  color: #b8b8b8;
  font-style: italic;
  font-weight: normal;
  font-size: 1.25em;
  margin: .25em 0 0; }

#motion h1 {
  color: #407a27;
  font-size: 3em; }

#motion p.meta {
  font-size: 1.25em !important;
  color: #80a080; }

/* @end */
