@import "compass/css3";
@import "blueprint";

@include blueprint-grid;

@mixin gradient-button($top-color, $bottom-color) {
  &, &:visited {
    position: relative;
    display: block;
    padding: 6px 9px;
    border: 1px solid #4e6642;
    @include border-radius(3px);
    background: $bottom-color;
    @include linear-gradient(color-stops($top-color, $bottom-color));
    @include box-shadow(rgba(0,0,0,0.5), 1px, 1px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    @include text-shadow(rgba(0,0,0,0.5), 1px, 1px);
    color: #FFFEFE !important;
    cursor: pointer;
  }

  &:hover {
    background: darken($top-color, 5%);
    @include linear-gradient(color-stops(darken($top-color, 5%), darken($bottom-color, 5%)));
  }

  &:active {
    top: 1px;
    left: 1px;
    background: lighten($top-color, 5%);
    @include linear-gradient(color-stops(lighten($top-color, 5%), lighten($bottom-color, 5%)));
  }
}

@mixin float-container {
  width: 100%;
  overflow: hidden;
}

/* @group Variables */

$border_color: #ccc;
$font_base: 12px;
$font_label: $font_base + 2px;
$font_label_height: 30px;
$font_color: #4F3806;
$form_row_spacing: 10px;
$label_width: 120px;
$input_padding: 5px;
$input_width: 550px;
$textarea_width: 550px;
$header_green: #407A27;
$flash_notice_border: #DCDA00;
$flash_notice_background: #FFFECF;
/* @end */

/* @group Global */

body {
  font-size: $font_base;
}

.centered {
  text-align: center;
}

/* @end */

/* @group Buttons */
#content .button {
  @include gradient-button(#595959, #363636);

  &, &:visited {
    display: inline-block;
  }

  &.large {
    padding: 8px 14px 9px;
    font-size: 14px;
  }

  &.positive {
    @include gradient-button(#6e914d, #57763b);
  }

  &.negative {
    @include gradient-button(#a75144, #893a36);
  }

  &.disabled {
    &, &:hover, &:active {
      @include linear-gradient(color-stops(lighten(#595959, 30%), lighten(#363636, 30%)));
    }
  }
}
/* @end */

/* @group Badges */
#content .badge {
  display: block;
  padding: 2px 5px;
  @include border-radius(3px);
  font-size: 11px;
  font-weight: bold;
  text-transform: lowercase;

  &.tag {
   float: left;
   margin: 3px 3px 0 0;
   background-color: #eee;
   color: #999;
  }

  &.status {
    color: #fff;
    text-transform: uppercase;

    &.expedited {
      background-color: #a1bee6;
    }

    &.passed, &.approved {
      background-color: #94ca3d;
    }

    &.failed {
      background-color: #ff8080;
    }
  }
}
/* @end */

/* @group Forms */
form .field {
  @include float-container;
  margin: 0 auto 10px;
  width: 530px;

  input {
    float: right;
    width: 400px;
    padding: 6px;
    border: 1px solid #a5a5a5;
    font-size: 16px;
    color: #333;
  }

  label {
    display: block;
    float: left;
    width: 100px;
    line-height: 35px;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    color: #333;
  }
}

form .check_box {
  margin: 0 auto 10px;
  width: 400px;
  padding-left: 130px;

  input {
    float: left;
    margin-right: 6px;
  }

  label {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #333;
  }
}

form .submit {
  margin: 25px auto 0;
  width: 530px;
  text-align: right;
}

form .instructions {
  margin: 0 auto 10px;
  width: 400px;
  padding-left: 130px;

  p {
    font-size: 14px;
    font-style: italic;
    color: #666;
  }

}

.form_row {
  margin-bottom: $form_row_spacing;
  clear: both;

  &.submit {
    margin-top: $form_row_spacing * 4;
  }

  label {
    float: left;
    font-size: $font_label;
    line-height: $font_label_height;
    vertical-align: middle;
    width: $label_width;

    &.tag {
      float: none;
      width: auto;
    }
  }

  input[type=text], input[type=password], textarea {
    padding: $input_padding;
    width: $input_width;
    border: 1px solid $border_color;
  }
  input[type=checkbox] {
    margin-top: $form_row_spacing / 2;
  }

  textarea {
    height: 10em;
    width: $textarea_width;
  }
}

#new_motion_form {
  width: 700px;
  margin: 20px auto;
}

/* @end */

/* @group Motions */

div.motion {
  @include float-container;

  h2 {
    line-height: 1;

    .author {
      display: block;
      font-size: 0.7em;
      font-weight: normal;
      font-style: italic;
      color: #80a080;
    }
  }

  .description {
    margin: 15px 0 25px;

    p {
      color: #333;
    }
  }

  .tags {
    @include float-container;
  }

  h3 {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  p {
    margin: 8px 0;
    font-size: 1.5em;
    color: #666;
  }

  #motion-details {
    width: 490px;
    float: left;
  }

  #motion-actions {
    width: 290px;
    float: right;

    dl {
      margin-bottom: 15px;

      dt, dd {
        background-color: #F3EFE4;
        font-size: 1.2em;
      }

      dt {
        padding: 10px 15px 1px;
        @include border-top-radius(5px);
        font-weight: bold;
        text-transform: uppercase;
      }

      dd {
        margin-bottom: 10px;
        padding: 0 15px 8px;
        @include border-bottom-radius(5px);
      }
    }

    .button {
      margin: 6px 0;
    }
  }

  #motion-events {
    border-top: 1px solid #eee;

    li {
      padding: 5px 0;
      border-bottom: 1px solid #eee;
      font-size: 1.5em;
      color: #666;
    }
  }
}

/* @end */

/* @group Homepage */
#content {
  a.remove {
    background-image: url('/images/remove.png');
    background-repeat: no-repeat;
    background-position: top right;
    text-decoration: none;
    font-size: 1px;
    height: 16px;
    width: 16px;
    color: #fff;
    display: inline-block;
    span { display: none; }
  }

  h1 {
    margin-bottom: 10px;
    padding-top: 0;
    font-size: 3em;
    color: $header_green;
    text-shadow: 0 1px 1px #ccc;
    font-style: italic;
  }
}


#content div.motions {
  h2 {
    margin: 20px 0 3px;
    padding-left: 170px;
    font-size: 27px;
  }

  .button {
    float: right;
  }

  ul {
    overflow: hidden;
    border-top: 2px solid #eee;
  }

  li {
    @include float-container;
    padding: 10px 0 30px;
    border-top: 1px solid #eee;
    margin-top: -1px;

    .actions {
      position: relative;
      float: left;
      width: 130px;
      margin-right: 40px;
      font-size: 11px;
      text-align: right;

      .created_at {
        padding-top: 7px;
        font-size: 18px;
        line-height: 1.2;
        color: #999;

        .time { display: block; }
      }

      .badge.status {
        position: absolute;
        right: 0;
        top: 50px;
        margin: 18px 0 0;
        font-size: 13px;
      }

    }

    .summary {
      float: left;
      width: 600px;

      p {
        margin: 0;
        font-size: 13px;

        &.title {
          a:link, a:visited {
            font-size: 27px;
            font-weight: bold;
            line-height: 1.2;
            text-decoration: none;
            color: #333 !important;
          }
        }

        &.author {
          color: #94ca3d;
          font-size: 24px;
          line-height: 1;

          strong {
            font-weight: bold;
          }
        }

        &.description {
          margin-top: 10px;
          font-size: 15px;
          line-height: 1.5;
          color: #666;
        }
      }
    }

    &.acted_on {
      background-color: #f8f8f8 !important;
    }
  }

  div.empty {
    margin: 10px 0 40px;
    padding-left: 170px;
    font-size: 1.5em;
    font-style: italic;
    color: #333;
  }

  div.show_more {
    @include float-container;
    margin: 10px 0;

    .button {
      margin: 3px;
    }
  }
}

nav.main {
  @include float-container;

  ul {
    float: right;
    height: 40px;

    li {
      margin-top: 5px;
      float: left;

      &.first a {
        @include border-bottom-left-radius(6px);
      }

      a {
        font-size: 1.25em;
        font-family: helvetica, arial, sans-serif;
        color: #4F3806 !important;
        border: 0;
        padding: 5px 10px 6px;
        text-decoration: none;
        @include box-shadow(0, 0, 1px, 0, rgba(#000, 0.25));
        text-shadow: 0 -1px 1px rgba(#000,0.2);
        border-left: 1px solid #CAB585;
        border-bottom: 1px solid #CAB585;
        cursor: pointer;
        background: url('http://jquery.org/wp-content/themes/green/green/shadow.png') bottom left repeat-x;
        &:hover {
          background-color: rgba(#000, 0.1);
        }
      }
    }
  }
}

/* @end */

/* @group Flash alerts & Validation Errors */
#flash_notice, #flash_alert {
  clear: both;
  margin: 10px 20px;
  padding: 5px 20px;
  border: 2px solid;
  font-size: 14px;
  text-align: center;
}

#flash_notice {
  background-color: $flash_notice_background;
  border-color: $flash_notice_border;
  color: #5F5F5F;
}

#flash_alert {
  background-color: #FFEEEE;
  border-color: red;
  color: red;
}

#error_explanation {
  background: #FBB;
  border: 2px solid red;
  color: #585858;
  padding: 20px;
  font-size: 12px;
  margin: 20px;

  ul {
    margin: 0;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
  }
}
/* @end */

#tags li{
  $top: #4b4;
  $bottom: #292;
  font-size: 14px;
  margin: 1em 0;
  a {
    padding: 4px;
    @include border-radius(3px);
    text-decoration: none;
    }
  &.remove a {
    background: $bottom;

    @include linear-gradient(color-stops($top, $bottom));

    text-decoration: none;
    color: #FFFEFE !important;
    border: 1px solid #070;

    &:hover {
      background: darken($top, 5%);
      @include linear-gradient(color-stops(darken($top, 5%), darken($bottom, 5%)));
    }

    &:active {
      background: lighten($top, 5%);
      @include linear-gradient(color-stops(lighten($top, 5%), lighten($bottom, 5%)));
    }
  }
}
p.small { font-size: 1em; }
.highlight_fade {
  background-color: $flash_notice_background;
}


.inner-content {
  padding: 30px 50px 10px;
}
