$form_left_column_width: 240px;
$form_right_column_width: 400px;
$form_columns_separation: 30px;

form .field,
form .select {
  @include float-container;
  margin-bottom: 10px;
}

form .field label,
form .select label {
  float: left;
  display: block;
  width: $form_left_column_width;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  text-align: right;
  color: #333;
}

form#new_event .field label {
  display: block;
  width: auto;
  text-align: left;
}

form .field input,
form .field textarea {
  float: left;
  width: $form_right_column_width;
  margin-left: $form_columns_separation;
  padding: 6px;
  border: 1px solid #a5a5a5;
  font-size: 16px;
  color: #333;
}

form#new_event .field textarea {
  float: none;
  width: 490px;
  margin: 0;
}

form .select select {
  float: left;
  margin-top: 3px;
  margin-left: $form_columns_separation;
  padding: 6px;
}

form .check_box {
  margin-bottom: 10px;
  margin-left: $form_left_column_width + $form_columns_separation;
}

form .check_box input {
  float: left;
  margin-right: 6px;
}

form .check_box label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #333;
}

form .action.submit {
  margin-top: 25px;
  margin-left: $form_left_column_width + $form_columns_separation;
}

form .instructions {
  width: $form_right_column_width;
  margin-bottom: 10px;
  margin-left: $form_left_column_width + $form_columns_separation;
}

form .instructions p {
  font-size: 14px;
  font-style: italic;
  color: #666;
}

form .error_msg {
  clear: both;
  width: $form_right_column_width;
  margin-left: $form_left_column_width + $form_columns_separation;
  padding: 4px 0 0 7px;
  color: #a75144;
}

form #motion_conflicts_list {
  margin-left: $form_left_column_width + $form_columns_separation;
}

form .button.add {
  margin-left: 5px;
  line-height: 18px;
}

form ul.conflicts {
  position: relative;
  clear: both;
  width: 400px;
  margin-left: $form_left_column_width + $form_columns_separation;
}

form ul.conflicts li {
  padding: 4px 9px;
  font-size: 16px;
}


#content form ul.conflicts a {
  cursor: pointer;
  color: #a75144 !important;
}

#content form ul.conflicts span {
  @include badge(#999, #eee);
}
