-if motion.member != current_member && motion.seconding?
  %div#second_motion
    =link_to "Second This Motion", motion_second_path(@motion), {:class => "quick-tool"}, :method => :post, :remote => true
    / @todo: Allow people to redact their secondses? Shire reference goes here.
-if motion.voting?
  %div#vote_motion
    %div#aye
      =link_to "Aye", motion_vote_path(@motion, :vote => :aye), :method => :post, :remote => true
    %div#nay
      =link_to "Nay", motion_vote_path(@motion, :vote => :nay), :method => :post, :remote => true
