%ul
  %li.jq-jquery
    %a{:href => "http://jquery.com/", :title => "jQuery Home"}
      jQuery
  %li.jq-plugins
    %a{:href => "http://plugins.jquery.com/", :title => "jQuery Plugins"}
      Plugins
  %li.jq-ui
    %a{:href => "http://jqueryui.com/", :title => "jQuery UI"}
      UI
  %li.jq-meetup
    %a{:href => "http://meetups.jquery.com/", :title => "jQuery Meetups"}
      Meetups
  %li.jq-forum
    %a{:href => "http://forum.jquery.com/", :title => "jQuery Forum"}
      Forum
  %li.jq-blog
    %a{:href => "http://blog.jquery.com/", :title => "jQuery Blog"}
      Blog
  %li.jq-about.jq-current
    %a{:href => "http://jquery.org/about", :title => "About jQuery"}
      About
  %li.jq-donate
    %a{:href => "http://jquery.org/donate", :title => "Donate to jQuery"}
      Donate