%ul
  %li.page_item.page-item-4
    %a{:href => "http://jquery.org", :title => "Projects"}
      Projects
  %li.page_item.page-item-14
    %a{:href => "http://jquery.org/team", :title => "Team"}
      Team
  %li.page_item.page-item-185
    %a{:href => "http://jquery.org/history", :title => "History"}
      History
  %li.page_item.page-item-232
    %a{:href => "http://jquery.org/sponsors", :title => "Sponsors"}
      Sponsors
  %li.page_item.page-item-180
    %a{:href => "http://jquery.org/license", :title => "License"}
      License
  %li.page_item.page-item-2
    %a{:href => "http://jquery.org/about", :title => "About"}
      About
  %li.page_item.page-item-16
    %a{:href => "http://jquery.org/donate", :title => "Donate"}
      Donate